html
html
    head
        title register
    body
        form(action = "/register", method = "POST")
            div
                lable(for = "regno") RegNo:
                input(name = "regno" value = " ")
            br
            div
                lable(for = "name") Name:
                input(name = "name" value = " ")
            br
            div
                lable(for = "age") Age:
                input(name = "age" value = " ")
            br
            div
                lable(for = "address") Address:
                input(name = "address" value = " ")
            br
            div
                lable(for = "mobile") Mobile:
                input(name = "mobile" value = " ")
            br 
            div
                lable(for = "college") College:
                input(name = "college" value = " ")
            br     
            div
                lable(for = "coures") Coures:
                input(name = "coures" value = " ")
            br

            button(type = "submit") submit:                     
