html
html
    head
        title register
    body
        form(action = "/register", method = "POST")
            div
                lable(for = "regno") RegNo:
                input(name = "regno" value = " ")
            br
            div
                lable(for = "name") Name:
                input(name = "name" value = " ")
            br
            div
                lable(for = "age") Age:
                input(name = "age" value = " ")
            br
            button(type = "submit") submit:                     
