html
html
    head    
        title search user
    body
        h1 Search the user
        div
            form(action="/search" method="POST")
                label Search
                br
                input(type="text" name="search")
                br
                button(type="submit") Submit
                br
                a(href="/register") Register